h1{
	padding-bottom: 5px;
}
.rf-p{
	margin-top:20px;
}
#administration_main .rf-dt-shdr-c, #editRole .rf-dt-shdr-c{
	background-image: url("/mse11as/rfRes/gradientA.png.jsf?db=eAFjZJBjZDBiZBBh!H8!IoLx!wQGBgYmACkLBIk_&ln=org.richfaces.images");
	color:#ffffff;
}
#administration_main{
	font-size:13px;
	font-weight:bold;
}
#administration_main table{
	margin-left: auto;
	margin-right: auto;
}
#administration_main table td{
	padding-top:10px;
	padding-right:20px;
}
#administration_main table .sF{
	padding-right:20px;
}
#administration_main input, #addRole input{
	height:20px;
	color:#252525;
}
#administration_main span{ 
	color: #f17e02;
}
#administration_main .btnSubmitUserAdd,.btnSubmitSearch {
	margin-top: 5px;
	width:120px;
	height: 28px;
	color:#ffffff;
}
.hint {
	padding-top: 10px;
	margin-bottom: -7px;
	font-size: 9px;
	color: #999999;
}
.notesForm{
	padding-top:10px;
	font-weight:normal;
	text-align:left;
}
#j_idt13Input{
	height:30px !important;
	font-size: 15px;
}
#j_idt13Label{
	font-size: 15px !important;
}
.rolePrivil table{
	align: center;
}
.rf-tab-hdr-tabs  {
	 background-image: url("/mse11as/rfRes/gradientA.png.jsf?db=eAFjZJBjZDBiZBBh!H8!IoLx!wQGBgYmACkLBIk_&ln=org.richfaces.images") !important;
}
.rf-tab-hdr-act.rf-tab-hdr-top, .rf-tab-hdr-inact.rf-tab-hdr-top {
	background: #ffffff !important;
}
#addRole {
	margin-bottom: 120px;
}
#addRole .txtRight{
 	display:inline;
}
#addRole table {
	padding-bottom: 10px;
}
#addGroup .img{
	width: 20%;
}
#addGroup h2, #addRole h2{
	color: #d38908;
	font-size: 16px;
}
#addRole h2 {
	padding-top:5px;
}
#addGroup input[type="checkbox"], #addRole input[type="checkbox"]{
	vertical-align: middle;
}
.groupPrivil td, .groupPrivil{
	padding-left: 10px;
	padding-right: 10px;
}
.groupPrivil {
	padding-top:5px;
	padding-bottom: 20px;
}
#addGroup td, #addRole td{
	padding-right: 5px;
}
table td{
	padding-top: 5px;
}

.specificLabel {
    position:absolute;
    top: 84px;
    left: 28px;
}
#addGroup .btnSubmitUserAdd {
	margin-top: 5px;
	width:120px;
	height: 28px;
	color:#ffffff;
}
#addGroup .txtRight {
	text-align: right;
}
#addGroup input[type='text']{
	height:20px;
	width: 392px;
}
#sr {
	position: relative;
	width: 100%;
}
#searchVariants {
	width:100%;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 60px;
}
#searchVariants p{
	display:inline;
	vertical-align: middle;	
	margin-right: 20px;
	color: #b63509;
}
#searchVariants p input[type="checkbox"]{
	margin-right: 5px;
}
#sr #j_idt14 {
	position:absolute;
	top:150px;
	right: 20px;
}
#j_idt13{
	margin-left: 50px;
}